extends ../layout/main

block variables
    -var title = 'Webpack title';
    -var description = 'Webpack description';

block content
    section
        .container
       
            

block script
    script(type="text/javascript")