.footer1 {
    position:relative;
    min-height: 70px;
    min-width: 1200px;
    
    .footer_inner {
        box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
        padding: 100px 70px 82px 140px;
        display: flex;

        .footer_col {
            .logo {

            }
            p {
                line-height: 24px;
                color: $dark75;
            }
            .footer_description {
                margin-top: 17.5px;
            }
            h4 {
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: $dark100;
                padding-top: 5px;
            }

            .footer_nav {
                ul {
                    margin-top: 19px;
                    li {
                        margin-bottom: 15px;
                        a {
                            color: $dark50;
                        }
                    }
                }
            }

            input {

            }
        }
        .first_col {
            max-width: 260px;
        }
        .footer_col {
            h4 {
                white-space: nowrap;
            }
            li {
                white-space: nowrap;
            }
        }
        .footer_col:nth-child(2) {
            margin-left: 42px;
         }
        .footer_col:nth-child(3) {
           margin-left: 59px;
           
        }
        .footer_col:nth-child(4) {
            margin-left: 93px;
            
         }
        
        .last_col {
            margin-left: 53px;
            max-width: 260px;
            p {
                margin: 18px 0;
            }
            input {
                width: 260px;
            }
        }
    }
    .footer_bottom {
        margin-top: 1px;
        height: 70px;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        display: flex;
        justify-content: space-between;
        padding: 0 70px 0 140px;
        .copyright {
            margin: auto 0;
        }
        .socials {
            display: flex;
            margin: auto 0;
            .icon {
                margin-left: 11px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .footer1 .footer_inner {
        .footer_col {
            margin-left: 10px;
        }
    }
}