.checkbox_buttons_wrapper
    .checkbox_row
        include checkbox_button.pug
        span.checkbox_text Можно курить
    .checkbox_row
        include checkbox_button_checked.pug
        span.checkbox_text Можно c питомцами
    .checkbox_row
        include checkbox_button_checked.pug
        span.checkbox_text Можно пригласить гостей (до 10 человек)