.toggle_buttons_wrapper
    .toggle_row
        include toggle_button_checked.pug
        span.toggle_text Получать спецпредложения
    .toggle_row
        include toggle_button.pug
        span.toggle_text Получать спецпредложения