include ../utils/mixins

block variables 

doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title #{title}
        meta(name="description", content=description)
        block head

    body
        .wrapper
            #app
                include ../includes/modules/headers/header1/header1
                .content-wrapper
                    block content
                include ../includes/modules/footers/footer1/footer1

        block script
        
                