footer.footer2
    .footer_inner
        .logo
            include ../../../../../assets/img/logo.svg
        .copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .socials
            .icon_tw.icon 
                include ../../../../../assets/img/tw.svg
            .icon_fb.icon 
                include ../../../../../assets/img/fb.svg
            .icon_in.icon 
                include ../../../../../assets/img/inst.svg