header.header1
    .header_inner
        .logo
            include ../../../../assets/img/logo.svg
        .links
            nav.menu
                ul
                    li
                        a(href="#" class="active") О нас
                    li
                        a(href="#") Услуги
                            a(href="#").dropdown
                                img(src="/assets/img/arrowDown.svg", alt="")
                    li
                        a(href="#") Вакансии
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Соглашения
                            a(href="#").dropdown
                                img(src="/assets/img/arrowDown.svg", alt="")
            nav.sub_menu.sub_menu1
                ul
                    li
                        a(href="#" class="active") О нас
                    li
                        a(href="#") Услуги
                            a(href="#").dropdown
                                img(src="/assets/img/arrowDown.svg", alt="")
                    li
                        a(href="#") Вакансии
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Соглашения
                            a(href="#").dropdown
                                img(src="/assets/img/arrowDown.svg", alt="")
            div(class="humb_btn humb_btn1") &equiv;
                    
            button.btn2 
            button.btn1 зарегистрироваться